.modal {
    position: fixed;
    z-index: 99999;
    background-color: rgba(255, 255, 255, .93);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.3);
    transition: all .3s ease-out;

    &-is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        transform: scaleX(1.3);
        font-weight: 500;
        color: $mainBlue;
        cursor: pointer;
        transition: color .3s ease-in-out;

        &:hover {
            color: $steelBlue;
        }
    }

    &-inner {
        /* position: absolute;
        width: 100%;
        top: 10%; */

        padding: 20px;

        h2 {
            font-size: 14px;
        }

        p {
            font-size: 10px;
        }

        .contact-box-title {
            font-size: 14px;
        }

        .contact-box-address {
            font-size: 12px;
        }

        @mixin largeScreen {

            h2 {
                font-size: 28px;
            }
    
            p {
                font-size: 24px;
            }
    
            .contact-box-title {
                font-size: 22px;
            }
    
            .contact-box-address {
                font-size: 16px;
            }

        }
    }
}